p{
    color: white;
}
.red-paragraph {
  display:  inline;
  height: 200px;
  width: 200px;
  background-color: red;
  margin-bottom: 2px  ;
}

.green-paragraph {
  display: inline;
  height: 200px;
  width: 200px;
  background-color: green;
  margin-bottom: 2px  ;
}
.blue-paragraph {
  height: inline;
  width: 200px;
  height: 200px;
  background-color: blue;
}
