body {
  background-color: black;
  text-align: center;
}
#moti-poster {
  border: 2px solid yellow;
  margin: 20px 0 0 0;
}
#main-heading {
  font-family: "Libre Baskerville", serif;
  color: yellow;
  font-size: 56px;
}
#para-1 {
  color: white;
  font-size: 16px;
  font-family: "Libre Baskerville", serif;
}
